/* General styles for the website */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

.App-header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.App-header h1 {
  margin: 0;
}

.App-header nav {
  margin-top: 10px;
}

.App-header a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.App-header a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
